.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.backButton {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.15s ease;
  color: var(--text);
}
.backButton:active {
  transform: scale(0.92);
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  background: linear-gradient(90deg, var(--accent-color), #7c3aed80);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* TIMER */
.timerDisplay {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  padding: 20px 0;
  background: var(--item-bg);
  border-radius: 20px;
  /* box-shadow: var(--shadow); */
}

/* CONTROLS */
.controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.actionButton {
  padding: 14px 20px;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: transform 0.15s ease;
}

.actionButton:active,
.pauseButton:active {
  transform: scale(0.94);
}

.start {
  background: linear-gradient(135deg, #4ade80, #22c55e);
  color: white;
  box-shadow: var(--shadow);
}

.stop {
  background: linear-gradient(135deg, #ef4444, #dc2626);
  color: white;
}

.pauseButton {
  background: linear-gradient(135deg, #eab308, #ca8a04);
  color: white;
  padding: 14px 20px;
  border-radius: 16px;
  font-weight: bold;
  display: flex;
  gap: 8px;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  font-size: 1rem;
}

/* SESSION NAME */
.sessionDetails {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--text-secondary);
}

.inputName {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  background: var(--card);
  color: var(--text);
  transition: border 0.2s ease;
}

.inputName:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

/* Responsive */
@media (max-width: 480px) {
  .timerDisplay {
    font-size: 2.5rem;
  }

  .actionButton,
  .pauseButton {
    width: 100%;
    justify-content: center;
  }
}
